<a href="https://colab.research.google.com/github/Angellei/Complete-Python-3-Bootcamp/blob/master/Lists_and_Tuples_Lecture_g88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#IGNORE THIS
from random import choice, shuffle
students = ["derek", "dominique","angel","colin","jinglie","david yang",
           "gulomjon","phil","david macias","anastasia","troy","marcia",
           "karina","marcus","christopher","lori","ian","jiachun","david smith",
           "jenny","claire","larry","noah","jon","david nordfors","paul","alex",
           "maxwell","orson","shiyan","james","winston"]
coldcall = lambda students: choice(students)

In [0]:
coldcall(students)

'david yang'

How do you know which functions can you use in the random library

# Quick refresher: functions

Functions are reusable chunks of code. For example we, here's some code:

In [0]:
print( "hello Brandon how are you?" )
print( "very fine and you?" )
print( "very good thank you." )

hello Brandon how are you?
very fine and you?
very good thank you.

We can package it in a **function** like this:

In [0]:
def polite_exchange():
  print( "hello Brandon how are you?" )
  print( "very fine and you?" )
  print( "very good thank you." )

At this point we can run all the code by **calling** the function, like this:

In [0]:
polite_exchange()

hello Brandon how are you?
very fine and you?
very good thank you.

In [0]:
for i in range(3):
  polite_exchange()

hello Brandon how are you?
very fine and you?
very good thank you.
hello Brandon how are you?
very fine and you?
very good thank you.
hello Brandon how are you?
very fine and you?
very good thank you.

If we want to pass information into the function, we can define a list of variables to act as a sort of window into the function body. Like so:

In [0]:
def polite_exchange(name):
  print( "hello "+name+" how are you?" )
  print( "very fine and you?" )
  print( "very good thank you." )

SyntaxError: ignored

At this point, you when you call the function you can pass an expression in through that window.

In [0]:
polite_exchange("Zoltron")

hello Zoltron how are you?
very fine and you?
very good thank you.

In [0]:
def increment(a):
  return a+1

In [0]:
increment(4)

5

In [0]:
increment

In [0]:
type(increment)

function

In [0]:
a_variable = lambda a: a+1

In [0]:
a_variable

# Collections: Lists and Tuples

## Review from yesterday 

1. Control flow
  - branching: `if`, `elif`, `else`
  - looping: `for`, `while` (`continue`, `break`)
1. Variables
  - Strings (words)
  - Numbers (floats and integers and booleans)

Lets consider that we may want to store many of these variables in a single data structure

### Goals:

- How do we store many pieces of data in a single structure?
- What kind of structures do we have available to us?
- How can we manipulate these data structures and use the data in them?
- Remember **list** is a protected keyword!!

## Collections and Iteration
* Collection: **holding data**
* Iteration: **going through data** in collection

### Collections

**Collections** are a class of data types that gather together conceptually related data into a whole. 

**Examples:**
- lists
- sets
- tuples
- dictionaries

#### Question?  What are the differences between these collections? 


We will discuss four main types of collections today: **lists, tuples, sets, and dictionaries**.

First lecture: lists, tuples
Second lecture: sets, dictionaries

### Iteration

**Iteration** is the process of visiting each member of a collection, and taking an action on it. 

For example:
* visit all the strings in a list and join the various words into a sentence
* visit all the numbers in a set and calculate the sum of them all

lists: 
sets: unique value. keys only
tuples: unmutuable-you can't change the value
dictionaries: keys and values

In [0]:
a_list = [1,2,3,4,5]

In [0]:
a_list[3] = "foobar"

In [0]:
a_list

[1, 2, 3, 'foobar', 5]

In [0]:
a_tuple = (1,2,3,4,5)

In [0]:
a_tuple

(1, 2, 3, 4, 5)

In [0]:
a_tuple.drop(3)

AttributeError: ignored

-----
## Lists

- list notation:
` [.....]`

#### What can go inside a list?

- Numbers
- Strings
- Numbers and strings
- Other lists (matrix)

In [0]:
lst1 = [1,2,3,4]
lst2 = ['strings','can','go','in','lists']
lst3 = ['strings', 'and',3,4,5]
lst4 = ['pretty much anything can go in here!']

In [0]:
square = lambda x: x*x

In [0]:
type(square)

function

In [0]:
a_weir = [1,2,"foobar", square, a_type]

NameError: ignored

### What is the length of a list
- The number of pieces of data that we are storing in the list

In [0]:
# Length of list 1
print('The length of list one is: ',len(lst1))

The length of list one is:  4

#### Your Turn -- (with a partner)
1. Add a cell
2. Create a list (put whatever you want in it)
3. Find the length of the list

**Challenge: Using the length of the list and algebraic operations, make the notebook print out the number 6 (without the length of the list being 6)**

In [32]:
a = ["yes", 1, 2, 5]
len(a)

4

In [0]:
a[1] = 6

In [31]:
a

['yes', 6, 2, 5]

### Indexes!  
- The index refers to the location that data point is at

For example with out list `lst1 = [1,2,3,4]` the number `1` is at the 0th index and the number `4` is at the 3rd index.  Lets explore this a little more

In [0]:
# Print the list
print(lst1)

[1, 2, 3, 4]

In [0]:
# Get the item at index 0
lst1[0]

1

In [0]:
# Get the items starting at index 1 and going to index 2
lst1[1:3]

[2, 3]

In [0]:
lst1= [1,2,3,4,5]

In [35]:
lst1[3:1]

[]

slicing not include the last index

In [0]:
# Get the items up to index 3
lst1[:3]

[1, 2, 3]

In [0]:
# Get the items from index 1 to the end
lst1[1:]

[2, 3, 4]

#### Your turn!  Lets say that we have the following list:

`lst = [10,3,4,2,50,22,18,19]`

- What index is 10 at?

- What index is 50 at?

- What code would I use to get the numbers `[4,2,50,22]`?

In [37]:
lst = [10,3,4,2,50,22,18,19]
lst [2:-3]

[4, 2, 50]

### Common Methods that can be applied to a list:

#### Appending to a list 

You can add to the end of a list using the append method! 

`lst.append(number)`


#### Inserting into a specific index

Inserts the element at the given index, shifting elements to the right.

`list.insert(index, elem)`

#### Extending a list

Adds the elements in list2 to the end of the list.

`list.extend(list2) `

You can append as may numbers as you like to a list, but if your list get HUGE you will find it slows down operations dramatically

In [0]:
lst = [10,3,4,2,50,22,18,19]
lst.clear()

In [0]:
lst = [1,2,3]
print('Here is the list: ',lst)
lst.append(10)
print('Here is the list with a number appended to it! ',lst)

Here is the list:  [1, 2, 3]
Here is the list with a number appended to it!  [1, 2, 3, 10]

#### Your turn!  
1. Create a list **(Dont use the name list -- Its protected)**
2. Insert a value into the front of the list
3. Append a value to back of the list
4. Insert a value in the middle of the list (you pick the index)
5. Extend your list with a list that someone else made!

In [0]:
here_is = [4,5,6,7,8,9,3]
here_is[0] = 9
here_is.append(10)
here_is.insert(5, "middle")
lst1 = [1,2]

In [0]:
here_is.extend(lst1)

In [59]:
here_is

[9, 5, 6, 7, 8, 'middle', 9, 3, 10, 1, 2]

In [0]:
lst = [12,3,4,5]
lst1= [93,83,2,0]
lst += lst1
lst.append(lst1)

In [62]:
lst

[12, 3, 4, 5, 93, 83, 2, 0]

## The `In` operator
We can use the in operatior to see if a number exists in our list

This will return a **boolean value**.

In [0]:
alst = [1,2,3,4,5]

In [65]:
(2 in alst)

True

In [0]:
lst = [10,3,4,2,50,22,18,19]
print(4 in lst)
print(33 in lst)
print('hello' in lst)
print('--'*50)


if 4 in lst:
  print('Wow I can use the in operator to generate booleans!')

True
False
False
----------------------------------------------------------------------------------------------------
Wow I can use the in operator to generate booleans!

### Your turn

1. Create a new list
2. Check to see if 'Cat' is in your list
  - If it isn't add 'Cat' to your list
  - if it is print 'I read Brandon's mind and added cat to my list'
 
Play with the in operator and see if it works with floats, integers, and strings!

This is super useful for `if` statements:

In [0]:
birthdays = ["fon", "lam", "ted"]
students = ["mer", "rod", "lam", "sue"]
for s in students:
  if ( s in birthdays ):
    print( "happy birthday, %s"%s )

you can also use set method to do this question

## Iterating through a list!
We can go through each number in the list using a `for` loop!  And also we can go through each index in the list

**Start with iterating through each value in a list**
- number refers to the value in the list

In [0]:
lst1 = [1,2,3,4]
for number in lst1:
    print(number)

1
2
3
4

In [66]:
list(range(len(lst1)))

[0, 1, 2, 3]

Or we could iterate through the numbers using the **index!!**

- i refers to the index of the lst

In [0]:
lst1 = [1,2,3,4]
for i in range(len(lst1)):
    print(lst1[i])

1
2
3
4

Or we could iterate through both of these at the same time using the `enumerate` command:

In [0]:
lst1 = [1,2,3,4]
for i,number in enumerate(lst1):
    print('index: ',i,'|| Value: ',number)

index:  0 || Value:  1
index:  1 || Value:  2
index:  2 || Value:  3
index:  3 || Value:  4

In [67]:
print(list(enumerate(lst1)))

[(0, 93), (1, 83), (2, 2), (3, 0)]

In [68]:
lst1 = [1,2,3,4]
for i,_ in enumerate(lst1):
   print(i)
    #print('index: ',i,'|| Value: ',number)

0
1
2
3

#### Your Turn!
1. Create a new list (with numbers in it)
2. Create a new empty list
3. Iterate through the list with numbers and square each value
4. Append the squared value to the end of the empty list
5. Print the new list with the squared numbers

**Challenge: Complete the task above once using the index of the list and once using the values in the list**

In [82]:
#square = lambda x: x**2
new_list = [1,2,4,5,6]
empty_list = []

#for item in new_list:
  #empty_list.append(item**2)
#print(empty_list)

empty_list.extend(x**2 for x in new_list)
print(empty_list)

[1, 4, 16, 25, 36]

----------------
## Tuples!
- Notation!`(.....)`

- Length is the same as lists!
- Indexing is the same as lists!
- Lists can be changed -- Tuples cannot (Mutability, vs Immutable)

In [0]:
# Mutability Example
lst1 = [1,2,3,4] 
lst1[0] = 10
print(lst1)

[10, 2, 3, 4]

In [0]:
alist = []
for item in enumerate([a, b, c]):

In [0]:
# Immutable Example (continued below)
tup1 = (1,2,3)
print(tup1[0])

1

In [0]:
tuple[0] = 3

TypeError: ignored

#### Your Turn:

1. Make a tuple that contains 4 numbers
2. Make a tuple that contains 4 words

Can have a list of tuples!

In [0]:
lst = [(1,2),(2,3),(3,4)]

- Tuples can be any length
- Useful for holding `x,y` pairs or `x,y,z,...` pairs

-----

Iteration works the same with tuples!  
 
- Look at iterating through one tuple

In [0]:
tup1 = (1,2,3)

for value in tup1:
    print(value)

1
2
3

- Look at iterating through list of tuples:

In [0]:
lst = [(1,2),(2,3)]
for tup in lst:
    print('\nPrinting Tuple Values\n','--'*10,)
    for i,value in enumerate(tup):
        print('Tuple index ',i,' = ', value)

Printing Tuple Values
 --------------------
Tuple index  0  =  1
Tuple index  1  =  2

Printing Tuple Values
 --------------------
Tuple index  0  =  2
Tuple index  1  =  3

**Your Turn**
1. Make a list of tuples
2. Iterate through your list
3. Create a new tuple that is the reverse of each of your tuples and add it to a new list
4. Print the original and new list of tuples

Example:

 ``` 
 original = [(1,2),(2,3)]
 transformed = [(2,1),(3,2)]
 ```

In [83]:
%timeit 1+2

10000000 loops, best of 3: 20.4 ns per loop

In [85]:
nested = [[1,2,3],['a','b','c']]

for sub in nested:
  for item in sub:
    print(item)

1
2
3
a
b
c